flow1
[{"id":"6e2ad359.2ab96c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6ef3c2f.a8bf6","type":"rpi-gpio in","z":"6e2ad359.2ab96c","name":"Button","pin":"7","intype":"down","debounce":"25","read":true,"x":160,"y":220,"wires":[["e4c53469.7be4c8","fa55baa9.acab48"]]},{"id":"e4c53469.7be4c8","type":"rpi-gpio out","z":"6e2ad359.2ab96c","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":530,"y":160,"wires":[]},{"id":"fa55baa9.acab48","type":"debug","z":"6e2ad359.2ab96c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":240,"wires":[]}]