flow2
[{"id":"7a6bf43b.0a593c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5631ad68.5360e4","type":"inject","z":"7a6bf43b.0a593c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":90,"y":120,"wires":[["95898866.4f6d38"]]},{"id":"95898866.4f6d38","type":"function","z":"7a6bf43b.0a593c","name":"Payload","func":"msg.headers={\n    deviceKey:\"6OWeSWaPKoJBmSJk\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["e14331ed.3deec"]]},{"id":"e14331ed.3deec","type":"http request","z":"7a6bf43b.0a593c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DzJdKw0n/datachannels/Humidity/datapoints.csv","tls":"","x":470,"y":280,"wires":[["346bf195.27baee"]]},{"id":"346bf195.27baee","type":"debug","z":"7a6bf43b.0a593c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":320,"wires":[]}]