flow3
[{"id":"b1377cfa.d7526","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7f5cb8a5.0bea78","type":"inject","z":"b1377cfa.d7526","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":130,"y":160,"wires":[["41da0eca.88a4a"]]},{"id":"41da0eca.88a4a","type":"function","z":"b1377cfa.d7526","name":"Payload","func":"msg.headers={\n    deviceKey:\"6OWeSWaPKoJBmSJk\"\n    };\nmsg.payload=\"Temp,,25.6\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["5b94b922.5b1fb8"]]},{"id":"5b94b922.5b1fb8","type":"http request","z":"b1377cfa.d7526","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DzJdKw0n/datapoints.csv","tls":"","x":470,"y":280,"wires":[["8ee2c4c5.bd6338"]]},{"id":"8ee2c4c5.bd6338","type":"debug","z":"b1377cfa.d7526","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":380,"wires":[]}]